.header {
  height: 180px;
  background-color: #03A9F4;
  width: 100%;
  padding-top: 1px;
}

.header h2 {
  color: white;
  text-align: center;
  font-weight: bold;
}

.space-between {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

.followings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followings p {
  color: white;
  margin: 8px 0px 0px 0px;
}

.img-box {
  border-radius: 50%;
  overflow: hidden;
  height: 130px;
  width: 130px;
}

.border-white {
  border: white solid 4px;
  border-radius: 50%;
  width: fit-content;//prendre la largeur de mon image
}

.border-blue {
  border: 7px solid #006bbf;
  border-radius: 50%;
  width: fit-content;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: -76px;
}

li {
  list-style: none;
  padding-bottom: 5px;
  font-size: 1.5rem;
}

ul {
  padding-left: 10px;
}
