<ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="add-food">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Ajouter aliment</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="food-perime">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>nourriture a manger</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="food-list">
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-label>Mon frigo</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profil">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Mon profil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
